body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
}


/* body part of the website */
header {
    background-color: hsl(18, 68%, 81%);
    padding: 10px;
    text-align: center;
    width: 100%;
}

.logo {
    float: left; /* Float the logo to the left */
    margin-right: 10px; /* Add margin for spacing */
}

.topic {
    position: relative;
    right: 5%;
}

/* Middle part of the website */
section {
    width: 100%;
    height: 350px; /* Set an appropriate height for the embedded video */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer part of the website */
footer {
      background-color: hsl(18, 68%, 81%);
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
} 


/* Media query for mobile devices */
@media (max-width: 768px) {

    header {
        width: 100%;
    }

    body {
        overflow: scroll;
    }

    .logo {
        width: 110px;
    }

    section {
        align-items: center;
    }   

    footer {
    height: 50px; /* adjust height for mobile view */
    } 
}




